{% extends "master.html" %}
{% block content %}
<div class="section" id="aufgabe-python-bewegt-die-welt-attraktives-programmieren-fur-junge-leute">
<h1>Aufgabe: Python bewegt die Welt - Attraktives Programmieren für junge Leute<a class="headerlink" href="#aufgabe-python-bewegt-die-welt-attraktives-programmieren-fur-junge-leute" title="Permalink to this headline"></a></h1>
<p><strong>Begleitmaterial</strong> zu dieser Aufgabe findest Du unter <a class="reference external" href="http://pymove3d.sudile.com/">http://pymove3d.sudile.com/</a></p>
<p>Verwende Blender 2.68 (2.67.1) um eine 3D Welt mit der darin enthaltenen <strong>Programmiersprache Python</strong> zu
erstellen und zu verändern.</p>
<p>Alles ist erlaubt was Du mit der Programmiersprache Python konstruierst bzw. in Bewegung setzt.
Das Bedienen der Werkzeuge, die das Programm Blender als Symbole und Tastenbefehle anbietet,
ist während des Ablaufs der eingereichten Lösung nicht gestattet.
<strong>Allein Dein Programm kontrolliert, was passiert.</strong></p>
<p>Filme Deine Konstruktion durch eine Kamerafahrt mit der bereitgestellten
<a class="reference external" href="http://pymove3d.sudile.com/stationen/kb_kamerafahrt/k_kamerafahrt.html">kamerafahrt Funktion</a>.</p>
<p><strong>Dein eingereichtes Programm muss alles enthalten was Du in dieser Kamerafahrt zeigst.</strong></p>
<p>Bereite einen <strong>3 minütigen Vortag</strong> vor (Bildschirmpräsentation oder Screencast):
Beschreibe deine Zielsetzungen und warum Du die eingereichte Lösung gewählt hast.
Gehe auf besondere Eigenschaften deines Programms und des Ablaufs ein und zeige
die Vor- oder Nachteile  der Steuerung mittels Python auf.
Erstelle eine <strong>Textmitschrift deines Vortrags</strong>. Du kannst diese mit Anmerkungen ergänzen.</p>
<p><strong>Einzureichen</strong> ist bis einschlieslich <strong>zum 1. September 2013</strong> eine komprimierte Archivdatei (ZIP, tar.gz)
Datei an die <strong>email Adresse: pw13&#64;de.pycon.org</strong></p>
<p>Im Mailtext die <strong>Erklärung</strong>:</p>
<p>Ich habe die Wettbewerbsbedingungen <a class="reference external" href="http://pymove3d.pysv.org/pw13/wettbewerbsbedingungen">http://pymove3d.pysv.org/pw13/wettbewerbsbedingungen</a>
gelesen und erkläre mich mit diesen einverstanden.</p>
<p>Der Inhalt der komprimierten Archivdatei Datei:</p>
<ol class="arabic simple">
<li>Film der Kamerafahrt um Deine Konstruktion (1 bis 3 Minuten)</li>
<li>Dein(e) Python Programm(e) in einem Ordner</li>
<li>Dein Vortrag in Form einer Bildschirmpräsentation oder Screencast</li>
<li>Textmitschrift Deines Vortrags</li>
</ol>
</div>
{% endblock %}


