{% extends "master.html" %}

{% block content %}
<div class="section" id="datenschutzerklarung-des-python-software-verband-e-v">
<h1>Datenschutzerklärung des Python Software Verband e. V.<a class="headerlink" href="#datenschutzerklarung-des-python-software-verband-e-v" title="Permalink to this headline"></a></h1>
<p>Der Python Software Verband e. V. (nachfolgend als PySV bezeichnet) nimmt den Schutz personenbezogener Daten sehr ernst. Wir möchten, dass Sie wissen, wann wir welche Daten speichern und wie wir sie verwenden. Als eingetragener Verein unterliegen wir den Bestimmungen des Bundesdatenschutzgesetzes (BDSG) und des Telemediengesetzes (TMG). Wir haben technische und organisatorische Maßnahmen getroffen, die sicherstellen, dass die Vorschriften über den Datenschutz sowohl von uns als auch von externen Dienstleistern beachtet werden.</p>
<div class="section" id="personenbezogene-daten">
<h2>Personenbezogene Daten<a class="headerlink" href="#personenbezogene-daten" title="Permalink to this headline"></a></h2>
<p>Personenbezogene Daten sind Informationen, die dazu genutzt werden können, Ihre Identität zu erfahren. Darunter fallen Informationen wie Ihr richtiger Name, Adresse, Postanschrift, Telefonnummer. Informationen, die nicht direkt mit Ihrer wirklichen Identität in Verbindung gebracht werden (wie zum Beispiel favorisierte Webseiten oder Anzahl der Nutzer einer Site) fallen nicht darunter.</p>
<p>Sie können unser Online-Angebot grundsätzlich ohne Offenlegung Ihrer Identität nutzen. Wenn Sie sich für einen unserer personalisierten Dienste registrieren lassen oder an Veranstaltungen teilnehmen, fragen wir Sie nach Ihrem Namen und nach anderen persönlichen Informationen. Es unterliegt Ihrer freien Entscheidung, ob Sie diese Daten eingeben.</p>
<p>Ihre Angaben speichern wir auf besonders geschützten Servern in Deutschland. Der Zugriff darauf ist nur wenigen besonders befugten Personen möglich, die mit der Betreuung der Server befasst sind.</p>
<p>In Verbindung mit Ihrem Zugriff werden auf unseren Servern Daten für Sicherungszwecke gespeichert, die möglicherweise eine Identifizierung zulassen (zum Beispiel IP-Adresse, Datum, Uhrzeit und betrachtete Seiten). Es findet keine personenbezogene Verwertung statt. Die statistische Auswertung anonymisierter Datensätze bleibt vorbehalten.</p>
<p>IP-Adressen speichern wir über einen Zeitraum von maximal sieben Tagen. Die Speicherung erfolgt aus Gründen der Datensicherheit, um die Stabilität und die Betriebssicherheit unseres Systems zu gewährleisten.</p>
</div>
<div class="section" id="weitergabe-personenbezogener-informationen-an-dritte">
<h2>Weitergabe personenbezogener Informationen an Dritte<a class="headerlink" href="#weitergabe-personenbezogener-informationen-an-dritte" title="Permalink to this headline"></a></h2>
<p>Wir verwenden Ihre personenbezogenen Informationen nur innerhalb des PySV. Wir geben sie nicht ohne Ihr ausdrückliches Einverständnis an Dritte weiter.</p>
</div>
<div class="section" id="recht-auf-widerruf">
<h2>Recht auf Widerruf<a class="headerlink" href="#recht-auf-widerruf" title="Permalink to this headline"></a></h2>
<p>Wenn Sie uns personenbezogene Daten überlassen haben, können Sie diese jederzeit wieder löschen. Wenden Sie sich dazu bitte per E-Mail an
<a class="reference external" href="mailto:info&#37;&#52;&#48;python-verband&#46;org">info<span>&#64;</span>python-verband<span>&#46;</span>org</a> oder per Briefpost an den Python Software Verband e.V., Schulstraße 20 15366 Neuenhagen bei Berlin</p>
</div>
<div class="section" id="cookies">
<h2>Cookies<a class="headerlink" href="#cookies" title="Permalink to this headline"></a></h2>
<p>Eine Nutzung unserer Angebote ist auch ohne Cookies möglich. In einigen Bereichen unseres Angebots verwenden wir Cookies, um Benutzerfunktionen zu realisieren.  Die meisten Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können das Speichern von Cookies jedoch deaktivieren oder Ihren Browser so einstellen, dass er Sie benachrichtigt, sobald Cookies gesendet werden.</p>
</div>
<div class="section" id="kinder">
<h2>Kinder<a class="headerlink" href="#kinder" title="Permalink to this headline"></a></h2>
<p>Personen unter 18 Jahren sollten ohne Zustimmung der Eltern oder Erziehungsberechtigten keine personenbezogenen Daten an uns übermitteln. Für die Teilnahme an Wettbewerben fragen wir Namen und E-Mail Adresse ab. Weitere Angaben, wie ein Foto, Links zu Profilen in sozialen Netzwerken, Organisationen wie Schulen oder Vereine, sind freiwillig und haben keinen Einfluss auf die Abläufe Wettbewerbs.</p>
</div>
<div class="section" id="soziale-netze-twitter-facebook-und-google">
<h2>Soziale Netze Twitter, Facebook und Google+<a class="headerlink" href="#soziale-netze-twitter-facebook-und-google" title="Permalink to this headline"></a></h2>
<p>Unsere Webseite bietet die Möglichkeit, sich über soziale Netze auszutauschen. Hierbei werden personenbezogene Daten an die Betreiber der Netzwerke übertragen. Um eine ungewollte Datenübermittlung zu verhindern verwenden wir das <a class="reference external" href="http://www.heise.de/ct/artikel/2-Klicks-fuer-mehr-Datenschutz-1333879.html">zwei Stufen-Verfahren des Heise Verlags</a>.</p>
</div>
<div class="section" id="links-zu-anderen-websites">
<h2>Links zu anderen Websites<a class="headerlink" href="#links-zu-anderen-websites" title="Permalink to this headline"></a></h2>
<p>Unser Online-Angebot enthält Links zu anderen Websites. Wir haben keinen Einfluss darauf, dass deren Betreiber die Datenschutzbestimmungen einhalten.</p>
</div>
<div class="section" id="fragen-und-kommentare">
<h2>Fragen und Kommentare<a class="headerlink" href="#fragen-und-kommentare" title="Permalink to this headline"></a></h2>
<p>Für Fragen, Anregungen oder Kommentare zum Thema Datenschutz wenden Sie sich bitte per E-Mail an den Vorstand des PySV &lt;<a class="reference external" href="mailto:info&#37;&#52;&#48;python-verband&#46;org">mailto:info<span>&#64;</span>python-verband<span>&#46;</span>org</a>&gt;</p>
<p>Die rasante Entwicklung des Internet macht von Zeit zu Zeit Anpassungen in unserer Datenschutzerklärung erforderlich. Sie werden an dieser Stelle über die Neuerungen informiert.</p>
<p>Halle, den 30. Juni 2013
Der Vorstand des Python Software Verbands</p>
</div>
</div>

{% endblock %}


