{% extends "master.html" %}

{% block content %}
        <h2>Impressum</h2>
        Organisiere - Plane (pymove3d) ist ein Internetangebot vom Python Software Verband e.V. Verantwortlich im Sinne des § 5 TMG und §55 I und II RStV ist

        <div class="row" style="margin-top: 20px;">
            <div class="span6">
	    <h4>Anschrift</h4>
	    <a href="http://pysv.org">Python Software Verband e.V.</a><br>
                Schulstraße 20<br>
                15366 Neuenhagen bei Berlin<br>
                E-Mail: info@python-verband.org<br>
	        Telefon +49 (0)3342 211 999 - 4<br>
	        Telefax +49 (0)3342 211 999 - 5<br>
	        USt-ID: DE287430795<br>
	        Vereinsregister: Amtsgericht Stendal<br>
                Sitz: Halle<br>
	        Registernummer: VR 33442<br>
                Vorstand / Vertretungsberichtigte und besondere Vertretungsbefugnis<br>
                1. Vorsitzender: Dr. Mike Müller, Leipzig<br>
	        2. Vorsitzender: Daniel Szoska, Neuenhagen b. Berlin<br>
	        Vorstand: Reimar Bauer, Jülich<br>
	        Vorstand: Armin Stroß-Radschinski, Troisdorf<br>
	    </div>
        </div>

 
        <div class="row" style="margin-top: 20px;">
            <div class="span4">
                <h4>Implementierung</h4>
                <a href="http://comlounge.net">COM.lounge GmbH</a><br>
                Hanbrucher Strasse 33<br>
                52064 Aachen <br>
                Tel.: +49 241 400 730 00<br>
                Fax: +49 241 979 00 850<br>
                E-Mail: <a href="mailto: info@comlounge.net">info@comlounge.net</a><br>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
	     <div class="span4">
	         <h4>Kursmaterial und Aufgabenstellung</h4>
	         <a href="http://www.sudile.com">Peter Koppatz</a><br>
		 sudile GbR
		 Jägerstraße 36
		 14467 Potsdam
		 Deutschland / Germany

		 Fon: +49 331 2002 97 17
		 Fax: +49 331 2002 97 08
		 E-Mail: <a href="mailto: infos@sudile.com">infos@sudile.com</a><br>
             </div>
	</div>

	<div class="row" style="margin-top: 20px;">
	    <div class="span8">
	    <h4>Haftungshinweis</h4>
                 Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der Python Software Verband e.V. keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der Informationen auf dieser Website. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Für die eingestellten Inhalte auf den Teilnehmerseiten sind die jeweiligen Teilnehmer selbst verantwortlich.<br>
                 Diese Website enthält Verweise auf Websites, die von Dritten eingerichtet wurden. Der Python Software Verband e.V. hat keinerlei Kontrolle über die Websites und die dort angebotenen Informationen, Waren oder Dienstleistungen. Der Python Software Verband  e.V. übernimmt daher keinerlei Verantwortung, aus welchem Rechtsgrund auch immer, für den Inhalt der Websites Dritter.<br>
                 Der Python Software Verband e.V. behält sich das Recht vor, die auf dieser Website angebotenen Informationen ohne gesonderte Ankündigung jederzeit zu verändern oder zu aktualisieren.<br>
                 Für gegebenenfalls bestehende oder künftig entstehende Rechtsverhältnisse ist ausschließlich deutsches Recht anwendbar und sind nur deutsche Gerichte zuständig.<br>
            </div>
       </div>
  

        <div class="row" style="margin-top: 20px;">
            <div class="span8">
                <h4>Google Analytics</h4>
                <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.

                <p>Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Die IP-Anonymisierung ist auf dieser Website aktiv. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.

                <p>Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de.
            </div>
        </div>

        
    </div>

{% endblock %}

