  {% extends "master.html" %}

  {% block content %}

  <div class="section" id="wettbewerbsbedingungen">
  <h1>Wettbewerbsbedingungen<a class="headerlink" href="#wettbewerbsbedingungen" title="Permalink to this headline">¶</a></h1>
  <p><strong>Aufgabe und Termine werden über die Webseite zum Wettbewerb auf http://pymove3d.pysv.org/pw13 bekanntgegeben.</strong></p>
  <div class="section" id="allgemeines">
  <h2>Allgemeines<a class="headerlink" href="#allgemeines" title="Permalink to this headline">¶</a></h2>
  <blockquote>
  <div><ol class="arabic simple">
  <li>Der Python Software Verband e. V. (nachfolgend PySV genannt) veranstaltet mit den Veranstaltern der Python Konferenz 14.10 - 19.10 einen Python-Programmier-Wettbewerb.</li>
  <li>Diese Wettbewerbsbedingungen regeln die Rechte und Pflichten der Teilnehmer und des Veranstalters dieses Wettbewerbs.</li>
  <li>PySV behält es sich vor, den Wettbewerb abzuändern, zu unterbrechen oder ganz abzusagen.</li>
  </ol>
  </div></blockquote>
  </div>
  <div class="section" id="teilnahmefahige-beitrage">
  <h2>Teilnahmefähige Beiträge<a class="headerlink" href="#teilnahmefahige-beitrage" title="Permalink to this headline">¶</a></h2>
  <blockquote>
  <div><ol class="arabic simple">
  <li>Die eingereichten Beiträge müssen von dem Teilnehmer eigens erstellt und noch nicht veröffentlicht worden sein. Die inhaltlichen und technischen Anforderungen an die Beiträge können unter pymove3d.pysv.org/pw13 abgerufen werden.</li>
  <li>Die Teilnehmer können ihren Beitrag als komprimierte Archivdatei (ZIP, tar.gz, ...) bis einschließlich <strong>dem 1. September 2013</strong> unter <a class="reference external" href="mailto:pw13&#37;&#52;&#48;de&#46;pycon&#46;org">pw13<span>&#64;</span>de<span>&#46;</span>pycon<span>&#46;</span>org</a> einreichen, sofern sie nicht größer als 10 MByte ist.  Größere Demos stellen Sie uns bitte über einen Download-Link zur Verfügung und mailen nur diesen.  Anschließend werden die von der PySV-Jury vorausgewählten Beiträge online veröffentlicht und durch  die Leser bewertet. Die Gewinner werden auf der Website <a class="reference external" href="http://pymove3d.pysv.org/pw13">http://pymove3d.pysv.org/pw13</a> bekanntgegeben.</li>
  <li>PySV entscheidet, ob ein eingereichter Beitrag für den Wettbewerb zugelassen wird. Einzelne Personen können jederzeit von der Teilnahme ausgeschlossen werden, sofern berechtigte Gründe, wie z.B. der Verstoß gegen die Teilnahmebedingungen, Manipulation oder unzulässige Beeinflussung des Wettbewerbs vorliegen. In solchen Fällen kann gegebenenfalls der Gewinn nachträglich aberkannt und zurückgefordert werden. Ein Ausschluss kommt insbesondere dann in Betracht, wenn der Teilnehmer durch die Teilnahme gegen Rechte Dritter oder Strafgesetze verstößt oder wenn begründete Anhaltspunkte dafür bestehen, dass der Teilnehmer das Abstimmergebnis auf unzulässige Art und Weise verfälscht hat.</li>
  </ol>
  </div></blockquote>
  </div>
  <div class="section" id="teilnehmervoraussetzungen">
  <h2>Teilnehmervoraussetzungen<a class="headerlink" href="#teilnehmervoraussetzungen" title="Permalink to this headline">¶</a></h2>
  <blockquote>
  <div><ol class="arabic simple">
  <li>An dem Wettbewerb kann grundsätzlich jeder Schüler der Sekundarstufe 1 und 2 aller Schulformen ab 13 Jahren sowie Schüler der berufsbildenden Schulen (Berufskolleg) und gleichartigen dualen Ausbildungsverhältnissen bis 21 Jahren, ungeachtet seines Geschlechtes oder seiner Nationalität teilnehmen, sofern er sich mit den Teilnahmebedingungen einverstanden erklärt.</li>
  <li>Von der Teilnahme ausgenommen sind Angehörige des Vorstands des PySV.</li>
  <li>Die Zustimmung erfolgt durch die Eintragung als Teilnehmer auf der Webseite zum Wettbewerb bzw. bei der Zusendung der Lösung mit dem Hinweis, die Wettbewerbsbedingungen beachtet zu haben. Bei minderjährigen Teilnehmern bedarf die Teilnahme der Zustimmung durch die gesetzlichen Vertreter. Der Teilnehmer erklärt mit der Zustimmung zu diesen Teilnahmebedingungen, dass er durch die Teilnahme keine Rechte Dritter, insbesondere keine Persönlichkeitsrechte verletzt. Der Teilnehmer sichert außerdem zu, kein Material zu übermitteln, das gegen gesetzliche Bestimmungen verstößt. Sollten dennoch Dritte Ansprüche wegen Verletzung ihrer Rechte geltend machen, so stellt der Teilnehmer PySV von allen in diesem Zusammenhang geltend gemachten Ansprüchen frei.</li>
  </ol>
  </div></blockquote>
  </div>
  <div class="section" id="urheber-personlichkeitsrechte">
  <h2>Urheber-/Persönlichkeitsrechte<a class="headerlink" href="#urheber-personlichkeitsrechte" title="Permalink to this headline">¶</a></h2>
  <blockquote>
  <div><ol class="arabic simple">
  <li>Der Teilnehmer erklärt, dass die Verwertungsrechte an allen im Rahmen des Wettbewerbs eingereichten Beiträgen bei ihm liegen. Hierzu gehören insbesondere alle Bilder, Videos und in Videos enthaltener Musik, die der Teilnehmer dem Veranstalter im Rahmen des Wettbewerbs übermittelt.</li>
  <li>Die Rechte zur Veröffentlichung des Beitrages verbleiben beim Teilnehmer. Der Teilnehmer räumt PySV ein einfaches, nicht übertragbares, räumlich und zeitlich uneingeschränktes Nutzungsrecht zur Veröffentlichung, Verbreitung, Vervielfältigung sowie öffentlichen Zugänglichmachung des Beitrages in denen von PySV veröffentlichten On- und Offline-Medien (inklusive App) sowie auf anderen Online-Plattformen und Internetauftritten, inklusive Social-Media-Plattformen ein.  Darüber hinaus wird PySV das Erstveröffentlichungsrecht eingeräumt.</li>
  <li>In diesem Zusammenhang gewährt der Teilnehmer PySV auch das Recht, die Werke zu bearbeiten, um beispielsweise deren Veröffentlichung zu ermöglichen.</li>
  <li><strong>Der Teilnehmer erlaubt PySV, den Teilnehmerbeitrag und seinen Namen zum Zwecke der Durchführung des Wettbewerbs und der Öffentlichkeitsarbeit für den Wettbewerb (einschließlich zukünftiger Folgen) in denen von PySV veröffentlichten On- und Offline-Medien (inklusive App) sowie auf anderen Online-Plattformen und Internetauftritten, inklusive Social-Media-Plattformen zu veröffentlichen.</strong></li>
  </ol>
  </div></blockquote>
  </div>
  <div class="section" id="gewinnfall">
  <h2>Gewinnfall<a class="headerlink" href="#gewinnfall" title="Permalink to this headline">¶</a></h2>
  <blockquote>
  <div><ol class="arabic simple">
  <li>Gewinnern, die nicht an der Feier teilnehmen, senden wir ihren Preis zu.</li>
  <li>PySV behält sich das Recht vor, die Preise nach eigenem Ermessen nicht zu vergeben, wenn PySV zu dem Schluss kommt, dass keine geeigneten Beiträge vorliegen. Ebenso behält sich PySV vor, die Platzierung zu korrigieren, sollte sich herausstellen, dass eine hohe Platzierung allein durch Manipulation erfolgte.</li>
  </ol>
  </div></blockquote>
  </div>
  <div class="section" id="teilnehmerdaten">
  <h2>Teilnehmerdaten<a class="headerlink" href="#teilnehmerdaten" title="Permalink to this headline">¶</a></h2>
  <p>Die im Zusammenhang mit dem Wettbewerb gespeicherten Daten werden ausschließlich zum Zwecke der Durchführung des Wettbewerbes erhoben und gespeichert. Eine Weitergabe an Dritte findet nicht statt. Es gilt die Datenschutzerklärung abrufbar unter <a class="reference external" href="http://pymove3d.pysv.org/datenschutzerklaerung.html">http://pymove3d.pysv.org/datenschutzerklaerung.html</a></p>
  </div>
  <div class="section" id="rechtsweg">
  <h2>Rechtsweg<a class="headerlink" href="#rechtsweg" title="Permalink to this headline">¶</a></h2>
  <p>Der Rechtsweg ist ausgeschlossen.</p>
  <p>Die Grundlagen für diese Teilnehmebedingungen sind freundlicherweise durch die Firma Heise Zeitschriften GmbH &amp; Co. KG zur Verfügung gestellt worden.</p>
  </div>
  </div>
{% endblock %}


